<table class="table">
  <thead class="thead">
    <tr>
      <th>Name</th>
      <th>Account</th>
      <th>Relationship Manager</th>
      <th>Revenue</th>
      <th>Since</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |data|}}
      <tr>
        <td>{{data.firstName}} {{data.lastName}}</td>
        <td>{{data.account}}</td>
        <td>{{data.relationshipManager}}</td>
        <td>{{data.revenueGenerated}}</td>
        <td>{{format-date data.customerSince}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
